apiVersion: apps/v1
kind: Deployment
metadata:
  name: climbing-static
  labels:
    app: climbing
    role: static
spec:
  replicas: 2
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: climbing
      role: static
  template:
    metadata:
      labels:
        app: climbing
        role: static
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: climbing
                  role: static
              topologyKey: kubernetes.io/hostname
      containers:
        - name: climbing-static
          image: valerauko/climbing:sha-0f1928f
          ports:
            - name: http
              containerPort: 80
          livenessProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 2
          readinessProbe:
            httpGet:
              path: /
              port: http
            failureThreshold: 5
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
