apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: climbing
  labels:
    app: climbing
    role: static
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  tls:
    - hosts:
      - climbing.erdos.tech
  rules:
    - host: climbing.erdos.tech
      http:
        paths:
          - backend:
              service:
                name: climbing
                port:
                  name: http
            path: /
            pathType: Prefix
