/* based on https://codepen.io/JeremyWink/pen/PoYdrLV */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  height: 100vh;
  background: center center / cover no-repeat #111;
  color: #fff;
  line-height: 1.6;
  transition: 0.3s linear 0s;
  transition-delay: 0.3s;
  text-shadow: 0 0 .2em black;
}

a {
  color: #fff
}

body > header {
  height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
}

.collapse-content {
  width: 40vw;
  box-shadow: 2px 2px 5px black;
}

.collapse {
  background: center center / cover no-repeat rgba(0, 0, 0, 0.7);
  transition: 0.3s linear 0s;
}

.collapse header {
  display: flex;
  height: 80px;
  position: relative;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.3)
}

.collapse header h2 {
  padding: .1em .5em;
  font-size: 2em;
}

.collapse header dt {
  display: none
}

.collapse header dl {
  list-style: none outside none;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.2em;
  justify-content: flex-end;
}

.collapse header dd {
  text-align: right;
  padding-right: 0.8em;
}

.collapse header dd:not(:last-child):after {
  content: "/";
  padding-left: 0.5em;
}

.elbrus:not(.active) {
  background-image: url('elbrus.jpg');
}

.kilimanjaro:not(.active) {
  background-image: url('kilimanjaro.jpg');
}

.aconcagua:not(.active) {
  background-image: url('aconcagua.jpg');
}

.collapse.active {
  background: rgba(0, 0, 0, 0.3);
}

.collapse.active header {
  background: rgba(0, 0, 0, 0.0);
}

.content {
  max-height: 0em;
  transition: max-height 0.3s linear 0s;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.content p {
  padding: 0 1.8em 1.8em 1.8em;
}

.collapse.active .content {
  max-height: 15em;
  background: rgba(0, 0, 0, 0.0);
}

footer ul {
  list-style: none outside none;
  display: flex;
  flex-flow: row wrap;
}

footer ul li {
  padding-right: 1em;
}

footer ul li:not(:last-child):after {
  content: "/";
  padding-left: 1em;
}
