name: Climbing static site release

on:
  push:
    branches: [ action-test ]

jobs:
  compile-and-release-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the site in the jekyll/builder container
        run: |
          docker run \
          -e JEKYLL_UID=1001 -e JEKYLL_GID=116
          -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
          jekyll/builder:latest jekyll build --future
